body{
    margin:0;
    font-family:Arial, sans-serif;
    display:flex;
}

.sidebar{
    position:fixed;
    top:0;
    left:0;

    width:220px;
    height:100vh;

    background:#1f2937;
    color:white;

    padding:20px;
    box-sizing:border-box;

    overflow-y:auto;

    z-index:1000;
}

.sidebar button{
    width:100%;
    padding:12px;
    margin-bottom:10px;
    border:none;
    cursor:pointer;
}

.content{

    margin-left:260px;

    padding:20px;

}

.card{
    background:#f4f4f4;
    padding:20px;
    margin-bottom:15px;
    border-radius:8px;
}

.hidden{
    display:none;
}

table{
    width:100%;
    border-collapse:collapse;
}

th,td{
    border:1px solid #ddd;
    padding:10px;
}

button{
    padding:10px 20px;
}

#scanResult,
#orderResult{
    margin-top:20px;
    font-size:18px;
}
thead th{

    position:sticky;

    top:0;

    background:#1f2937;

    color:white;

    z-index:10;

}
.filter-row th{

    position:sticky;

    top:42px;

    background:white;

    z-index:9;

}
.table-container{
    max-height:650px;
    overflow-y:auto;
    overflow-x:auto;
    border:1px solid #ddd;
}

table{
    width:100%;
    border-collapse:collapse;
}

thead th{
    position:sticky;
    top:0;
    background:#1f2937;
    color:white;
    z-index:100;
}

.filter-row th{
    position:sticky;
    top:42px;
    background:white;
    z-index:99;
}